.footer__column-link {
    text-decoration: none;
    color: white;
    font-weight: normal;
    font-size: 18px;
    list-style-type: none;
    transition: opacity 1s ease;
 }

 .footer__column-link:hover {
    opacity: 0.5;
  }