@import url(./__cell/kaufman__cell.css);
@import url(./__triangle/kaufman__triangle.css);

.kaufman {
    overflow: hidden;
    background-color: #1f1f1f;
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 90px 0 90px 0;
   }